<keppler-view id='index'>
  <!-- Keppler Section -->
  <div id="kppl-uktk">
    <nav id="kppl-al1m" class="navbar navbar-default travel-navbar-index">
      <div id="kppl-09qe" class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" class="navbar-toggle collapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse wanna-navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"></li>
            <a href="#" id="kppl-gvc8" class="navbar-brand wanna-navbar-brand">Wannado</a>
            <li id="kppl-kdkr"></li>
            <li class="dropdown">
              <ul class="dropdown-menu">
                <li>
                  <a href="#">Action</a>
                </li>
                <li>
                  <a href="#">Another action</a>
                </li>
                <li>
                  <a href="#">Something else here</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#">Separated link</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                  <a href="#">One more separated link</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul id="kppl-ku19" class="nav navbar-nav navbar-right">
            <li id="kppl-71gp">
              <a href="#" id="kppl-n2zk" class="wanna-navbar-link">Registrate</a>
            </li>
            <li id="kppl-6b8x">
              <div id="kppl-pcxa" class="wanna-navbar-btn">
                <a id="kppl-8ebk" class="btn btn-primary wanna-login-btn">Entrar</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="kppl-ggt6" class="wanna-home">
    <div id="kppl-k06m" class="kppl-parallax wanna-home-img">
      <div id="kppl-8ghw" class="kppl-parallax-mask wanna-home-mask">
        <div id="kppl-go6d" class="kppl-container wanna-home-container">
          <div id="kppl-srat">
            <h1 id="kppl-5gl4" class="wann-home-title">Descubre nuevas 
              <span id="kppl-qdem" data-highlightable="1" class="wann-home-title-activities">actividades!</span>
            </h1>
          </div>
          <h1 id="kppl-aalx" class="wanna-home-subtitle">Encuentra que hacer en cualquier parte del mundo</h1>
          <div id="kppl-4xin">
            <div id="kppl-9jcd">
              <h1 id="kppl-tpee" class="wanna-home-search">
                <div id="kppl-pjvr" class="bstp-row row">
                  <div id="kppl-59iy" class="col-sm-4 col-xs-12 col-lg-6 wanna-home-column">
                    <h2 id="kppl-3gr9">Yo quiero hacer</h2>
                  </div>
                  <div id="kppl-0xwu" class="col-sm-4 col-xs-12 col-lg-6">
                    <div id="kppl-61f8">
                      <select id="kppl-0odat" class="form-control wanna-home-activities">
                        <option>ir a surfear</option>
                        <option>ciclismo</option>
                        <option>un tour</option>
                        <option>un paseo</option>
                        <option>ir a nadar</option>
                      </select>
                    </div>
                  </div>
                  <div id="kppl-p8b4" class="col-sm-4 col-xs-12 col-lg-2">
                    <div id="kppl-r29z">
                      <a id="kppl-mz8a" class="btn btn-primary wanna-btn-search">
                        Buscar
                        <br>
                      </a>
                    </div>
                  </div>
                </div>
              </h1>
            </div>
            <div id="kppl-shml"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</keppler-view>